[submodule "subprojects/toml11"]
	path = subprojects/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "subprojects/ztd"]
	path = subprojects/ztd
	url = https://github.com/thermitegod/ztd.git
[submodule "subprojects/CLI11"]
	path = subprojects/CLI11
	url = https://github.com/CLIUtils/CLI11
